.header img{
	margin-left: 5%;
	padding: 20px;
}


.conten-cant{
	width: 700px;
	padding: 10px;
	margin: 0 auto;
	margin-bottom: 10px;
}

#cantina{
	padding: 5px 0;
	background-color: #EF6B54;
	background-image: url('../img/grid_background.png'); 
}

.cont-sem div{
	text-align: center;
	margin-top: 10px
}

.conten-cant p{
	margin-top: 0px;
	text-align: center;
	color: #fefefe;
	font-size: 30px;
}

.conten{
	margin-bottom: 10px;
	float: left;
	width: 50%;
}

.conten-cant input{
	padding: 15px 5px;
	margin-bottom: 10px;
	width: 95%;
}

.conten textarea{
	width: 197.5%;
	margin-bottom: 10px; 
}

.calendario{
	position: relative;
	width: 100%;
	height: 360px;
	margin-top: 10px;
	background-color: #FFFFFF;
	clear: both;
}

.calendario h1{
	padding: 5px;
	background-color: #57BBEC;
}


.peq{
	width: 53px;
	height: 53px;
	background-color: #E8E6E7;
	border-radius: 40px 40px;
	text-align: center;	
	border: double #fefefe;
	font-size: 20px;
}

.grd{
	width: 65px;
	height: 65px;
	background-color: #38393D;
	border-radius: 55px 55px; 
	border: double #fefefe; 
	text-align: center;
	color: #fefefe;
	font-size: 25px;
}

.fila1{
	position: absolute;
	top: 11%;
}

.fila2{
	position: absolute;
	top: 31%; 
}

.fila3{
	position: absolute;
	top: 47%;
}

.fila4{
	position: absolute;
	top: 63%;
}

.fila5{
	position: absolute;
	top: 79%;
}


.columna1{
	position: absolute;
	left: 25%;
}

.columna2{
	position: absolute;
	left: 35%;
}

.columna3{
	position: absolute;
	left: 45%;
}

.columna4{
	position: absolute;
	left: 55%;
}

.columna5{
	position: absolute;
	left: 65%;
}

.columma1{
	position: absolute;
	left: 26%;
}

.columma2{
	position: absolute;
	left: 36%;
}

.columma3{
	position: absolute;
	left: 46%;
}

.columma4{
	position: absolute;
	left: 56%;
}

.columma5{
	position: absolute;
	left: 66%;
}

#semena{
	width: 100%;
	height: auto;
	padding: 5px 0;
}

.fondo{
	width: 100%;
	padding: 10px 0;
	background-color: #E8E6E7;
}

.cont-sem{
	position: relative;
	width: 800px;
	margin: 0 auto;
	padding: 15px;
	height: 508px;
	color: #38393D;
}

.continuar{
	position: relative;
	color: #fff;
	text-align: center;
	margin: 0 auto;
	width: 35%;
	height: 40px;
	background-color: #EF6B54;
	top:407px;
}

.colum1{
	position: absolute;
	width: 20%;
	top: 14%;
	left: 0%
}

.circulo{
	width: 65px;
	height: 65px;
	margin: 0 auto;
	background-color: #38393D;
	border-radius: 55px 55px; 
	border: double #fefefe;
	text-align: center;
	color: #fefefe;
}

.colum2{
	position: absolute;
	width: 20%;
	top: 14%;
	left: 20%
}

.colum3{
	position: absolute;
	width: 20%;
	top: 14%;
	left: 40%
}

.colum4{
	position: absolute;
	width: 20%;
	top: 14%;
	left: 60%
}

.colum5{
	position: absolute;
	width: 20%;
	top: 14%;
	left: 80%
}

input{
	padding: 15px 5px;
	margin-bottom: 10px;
}

.pie-pag{
	margin: 40px auto 30px auto;
	font-size: 200%; 
	text-align: center;
	width: 100%;
	color: #38393D;
}

.pie-pag1{
	display: inline-block;
	margin-right: 50px;
	margin-left: 150px;
}

.logo img{
	margin-left: 555px;
}

.letra{
	margin-top: 28%; 
}

.letra1{
	margin-top: 35%; 
}

select{
	width: 80%;
}

.bar-right{
	position: absolute;
	width: 1%;
	padding: 1px;
	height: 100%;
	right: 0px;
	background-color: #fff;
	border-radius: 4px; 
}

.cont-sem p{
	text-align: center;
	font-size: 25px;
	color: #38393D;
}

.linea{
	padding: 4px;
	width: 80%;
	background-color: #E8E6E7;
	border-radius: 4px;
	margin: 0 auto 80px auto;

}